<div>
	<h1>Items for sale by <%= @seller.full_name %>!</h1>

	<div id="itemlist">
		<% @products.each do |product| %>
			<div>
				<a href="/products/<%=product.id%>"><h2><%= product.name %></h2></a>
				<h2>RM <%= product.price %></h2>
				<p>Listed on: <%= product.created_at %></p>
			</div>
		<% end %>
	</div>

</div>