<html>
	<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/application.css">
	</head>

	<body>
	<container>
	<div id="maincon">
		<div id="logo">
			<a href="/"><h1>Mudah.my</h1></a>
		</div>

		<% if logged_in? == false %>
			<div id="hello">
				<a class="btn btn-default" href="/hello">Join and start selling now!</a> 
			</div>
		<% else %>
			<div id="userinfo">
				<p>Logged in as: <%= current_user.full_name %></p>
			</div>

			<div id="cp">
				<ul>
				<li><form method=post action=/logout>
					<input class="btn btn-default" type=submit value="Logout">
				</form></li>
				<li><a class="btn btn-default" href="/users/<%=current_user.id%>" role="button">My profile</a></li>
				<li><a class="btn btn-default" href="/users/<%=current_user.id%>/wishlist" role="button"> My wishlist</a></li>
				</ul>
			</div>

		<% end %>

		<% if @message %>
			<div id="message">
				<p><%= @message %></p>
			</div>
		<% end %>

		<div id="new_ad">
			<a class="btn btn-default" href="/products/new" role="button">Post an ad!</a>
		</div>

		
			<%= yield %>

		</div>
		</container>
	</body>


</html>